body {
    font-family: 'Open Sans', Arial;
    margin: auto;
    line-height: 1.2;
    font-size: 18px;
    max-width: 800px;
    padding: 1em;
    color: #454545;
    
}

p {
    display: block;
}

.motherfck {
    color: #730000;
    transition-property: color;
}

.wrong {
    color: #c0392b;
    text-decoration: underline;
    font-weight: 600;
  
}

small {
    font-size: 8px;
}

.color_change {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: red; }
    25% { color: rgb(95, 35, 95);}
    50% { color: greenyellow; }
    75% { color: pink}
    100% { color: blue; }
  }

.shitty_blue {
    color: blue;
}

.violet {
    color: rgb(138, 66, 138);
}

.shitty_blue, .violet {
    cursor: not-allowed;
}

.fakepre {
    font-family: monospace;
    font-size: 0.9em;
}

.positioning:after {
    display: block;
    content: "";
    clear: both;

}

.picture-left {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 0px;
}

.text-right {
    float: left;
    width: 55%;
}

figcaption {
    font-size: 12px;
}